html{
  font-family: sans-serif;
}

.mapa {
  height: 40vh;
  width: 90vw;
}
#map{
  height: 40vh;
  padding-bottom: 0;
  margin-bottom: 5vh;
  
}

h2 {
  font-size: 15px;
  text-align: center;
}
span{
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.navbar{
  background-color: #033f63;

}

.container{
  margin-top: 25px;
}

